.postbar_button {
  margin: 0 0.3em;
  padding: 0.5em;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  &:hover {
    color: #3b49df;
    background-color: #3b49df48;
    border-radius: 5px;
  }
}
.selected {
  border-bottom: 3px solid #3b49df;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0.3em;
  padding: 0.5em;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  &:hover {
    color: #3b49df;
    background-color: #3b49df48;
    border-radius: 5px;
  }
}
